<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Dragan Bibin</title>
 <link rel="stylesheet" title="" href="./../../StyleSheets/style.css">
 <link title="" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <style>
  @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
  body {
   background-color: black;
   color: white;
   text-align: center;
   font-family: 'Cutive Mono', monospace;
   font-size: 24px;
  }
  header {
   background-color: black;
  }
  ul {
   list-style-type: none;
   padding: 0;
  }
  a {
   text-decoration: none;
  }
  @media screen and (max-width: 800px) {
   body {
    font-size: 18px;
   }
  }
 </style>
</head>
<body>
 <header>
  <div class="container">
   <h3 class="mt-5 mb-5">Dragan Bibin</h3>
  </div>
 </header>
 <main>
  <div class="container">
   <p class="mb-5 fst-italic text-secondary">„Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ducimus modi molestias aspernatur debitis eveniet eaque placeat aperiam totam laborum necessitatibus fuga. Omnis labore accusantium consequatur, quibusdam blanditiis earum cupiditate?“</p>
   <h3 class="mt-5 mb-5">Deimos</h3>
   <ul>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/Refuse-Heap.html">Refuse Heap</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Deimos</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Dead of Night</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Pull</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Chase</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Cave Dwellers</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Until the Cows Come Home</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Crossing</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Dead End</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Unfinished</h3>
   <ul>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html"></a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Flood Waves</h3>
   <ul>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Great Flood</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Raft of Medusa</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">The Last Song</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">The Walled Garden</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Floodwaves 1</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html">Floodwaves 2</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Ta Ta Ta Ma Ma Ma</h3>
   <ul>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" title="(1996)" href="./Deimos/.html"></a>
    </li>
   </ul>
  </div>
 </main>
</body>
</body>
</html>