<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Francisco de Goya</title>
 <link rel="stylesheet" href="./../../../StyleSheets/style.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <style>
  @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
  body {
   background-color: black;
   color: white;
   text-align: center;
   font-family: 'Cutive Mono', monospace;
   font-size: 24px;
  }
  header {
   background-color: black;
  }
  ul {
   list-style-type: none;
   padding: 0;
  }
  a {
   text-decoration: none;
  }
  @media screen and (max-width: 415px) {
   body {
    font-size: 12px;
   }
  }
 </style>
</head>
<body>
 <header class="">
  <div class="container">
   <h3 class="mt-5 mb-5">Francisco de Goya</h3>
  </div>
 </header>
 <main>
  <div class="container">
   <p class="mb-5 fst-italic text-secondary">„Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ducimus modi molestias aspernatur debitis eveniet eaque placeat aperiam totam laborum necessitatibus fuga. Omnis labore accusantium consequatur, quibusdam blanditiis earum cupiditate?“</p>
   <h3 class="mt-5 mb-5">(1763 - 1774)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Consagraci%C3%B3n%20de%20San%20Luis%20Gonzaga%20como%20patrono%20de%20la%20juventud.jpg">Consagración de San Luis Gonzaga como patrono de la juventud (1763)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Asunci%C3%B3n%20de%20la%20Virgen%20y%20San%20%C3%8D%C3%B1igo.jpg">Asunción de la Virgen y San Íñigo (1763)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/San%20Crist%C3%B3bal.jpg">San Cristóbal (1767)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Aparici%C3%B3n%20de%20la%20Virgen%20del%20Pilar%20a%20Santiago%20y%20a%20sus%20disc%C3%ADpulos%20zaragozanos.jpg">Aparición de la Virgen del Pilar a Santiago y a sus discípulos zaragozanos (1769)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Triple%20generaci%C3%B3n.jpg">Triple generación (1769)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/An%C3%ADbal%20vencedor%20que%20por%20primera%20vez%20mira%20Italia%20desde%20los%20Alpes.jpg">Aníbal vencedor que por primera vez mira Italia desde los Alpes (1770)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Sacrificio%20a%20Vesta.jpg">Sacrificio a Vesta (1771)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Sacrificio%20a%20Pan.jpg">Sacrificio a Pan (1771)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Venus%20y%20Adonis.jpg">Venus y Adonis (1771)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/%C3%89xtasis%20de%20San%20Antonio%20Abad.jpg">Éxtasis de San Antonio Abad (1771)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Muerte%20de%20san%20Francisco%20Javier.jpg">Muerte de san Francisco Javier (1771 - 1774)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Virgen%20del%20Pilar.jpg">Virgen del Pilar (1771 - 1774)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/El%20rapto%20de%20Europa.jpg">El rapto de Europa (1772)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/El%20nombre%20de%20Dios%20adorado%20por%20los%20angeles.jpg">El nombre de Dios adorado por los angeles (1772)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco%20de%20Goya/(1763%20-%201774)/Santa%20B%C3%A1rbara.jpg">Santa Bárbara (1772)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Sue%C3%B1o%20de%20San%20Jos%C3%A9.jpg">Sueño de San José (1772)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/El%20entierro%20de%20Cristo.jpg">El Entierro de Cristo (1772)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Virgen%20con%20el%20Ni%C3%B1o.jpg">Virgen con el Niño (1772 - 1773)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Virgen%20con%20el%20Ni%C3%B1o%20y%20San%20Jos%C3%A9.jpg">Virgen con el Niño y San José (1772 - 1773)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Devotos%20a%20los%20pies%20de%20la%20Cruz.jpg">Devotos a los pies de la Cruz (1772 - 1773)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Muerte%20de%20san%20Alberto%20de%20Jerusal%C3%A9n.jpg">Muerte de san Alberto de Jerusalén (1772 - 1775)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Huida%20a%20Egipto.jpg">Huida a Egipto (1772 - 1775)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Autorretrato.jpg">Autorretrato (1773)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Retrato%2C%20supuesto%20para%20ser%20el%20artista.jpg">Retrato, supuesto para ser el artista (1773 - 1775)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Nacimiento%20de%20la%20Virgen%20(Cartuja%20Aula%20Dei).jpg">Nacimiento de la Virgen (Cartuja Aula Dei) (1774)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/La%20Piedad.jpg">La Piedad (1774)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Lot%20y%20sus%20hijas.jpg">Lot y sus hijas (1774)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Sacrificio%20de%20la%20hija%20de%20Jeft%C3%A9.jpg">Sacrificio de la hija de Jefté (1774)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1775 - 1792)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1793 - 1807)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1808 - 1818)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1819 - 1828)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los Caprichos</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los desastres de la guerra</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">La Tauromaquia</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los disparates </h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los toros de Burdeos</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   </ul>
  </div>
 </main>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>