<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Francisco de Goya</title>
 <link rel="stylesheet" title="" href="./../../../StyleSheets/style.css">
 <link title="" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <style>
  @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
  body {
   background-color: black;
   color: white;
   text-align: center;
   font-family: 'Cutive Mono', monospace;
   font-size: 24px;
  }
  header {
   background-color: black;
  }
  ul {
   list-style-type: none;
   padding: 0;
  }
  a {
   text-decoration: none;
  }
  @media screen and (max-width: 415px) {
   body {
    font-size: 12px;
   }
  }
 </style>
</head>
<body>
 <header>
  <div class="container">
   <h3 class="mt-5 mb-5">Francisco de Goya</h3>
  </div>
 </header>
 <main>
  <div class="container">
   <p class="mb-5 fst-italic text-secondary">„Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ducimus modi molestias aspernatur debitis eveniet eaque placeat aperiam totam laborum necessitatibus fuga. Omnis labore accusantium consequatur, quibusdam blanditiis earum cupiditate?“</p>
   <h3 class="mt-5 mb-5">Los caprichos</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="#">.</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los desastres de la guerra</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="#">.</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los disparates</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-femenino.jpg">Disparate femenino</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-de-miedo.jpg">Disparate de miedo</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-rid%C3%ADculo.jpg">Disparate ridículo</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Bobalic%C3%B3n.jpg">Bobalicón</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-volante.jpg">Disparate volante</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-cruel.jpg">Disparate cruel</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-desordenado.jpg">Disparate desordenado</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Los-ensacados.jpg">Los ensacados</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-general.jpg">Disparate general</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/El-caballo-raptor.jpg">El caballo raptor</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-pobre.jpg">Disparate pobre</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-alegre.jpg">Disparate alegre</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Modo-de-volar.jpg">Modo de volar</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-de-carnaval.jpg">Disparate de carnaval</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-claro.jpg">Disparate claro</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Las-exhortaciones.jpg">Las exhortaciones</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/La-lealtad.jpg">La lealtad</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1864)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-fúnebre.jpg">Disparate fúnebre</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1877)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-de-toritos.jpg">Disparate de toritos</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1877)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-de-bestia.jpg">Disparate de bestia</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1877)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-conocido.jpg">Disparate conocido</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1877)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Disparate-puntual.jpg">Disparate puntual</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Los-elefantes.jpg">Los elefantes</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/La-desesperación-de-Satán.jpg">La desesperación de Satán</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/El-tragafuego.jpg">El tragafuego</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Dos-personajes-asomándose-a-una-salida-luminosa.jpg">Dos personajes asomándose a una salida luminosa</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/Personajes-trepando-sobre-un-gigante-acostado.jpg">Personajes trepando sobre un gigante acostado</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/Los-disparates/El-pavo-real-vanidoso.jpg">El pavo real vanidoso</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Pinturas negras</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Aquelarre</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Asmodea</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Átropos</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Cabezas en un paisaje</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Dos mujeres y un hombre</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Dos viejos</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Dos viejos comiendo sopa</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Duelo a garrotazos</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">El perro</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Hombres leyendo</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Judith y Holofernes</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">La Leocadia</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">La romería de San Isidro</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Peregrinación a la fuente de San Isidro</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1819 - 1823)" href="#">Saturno devorando a su hijo</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">La Tauromaquia</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="#">.</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los toros de Burdeos</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1824 - 1825)" href="#">Bravo toro</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1824 - 1825)" href="#">Dibersión de España</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1824 - 1825)" href="#">El famoso americano Mariano Ceballos</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1824 - 1825)" href="#">Plaza partida</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1763 - 1774)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1763)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Consagraci%C3%B3n-de-San-Luis-Gonzaga-como-patrono-de-la-juventud.jpg">Consagración de San Luis Gonzaga como patrono de la juventud</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1763)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Asunci%C3%B3n-de-la-Virgen-y-San-%C3%8D%C3%B1igo.jpg">Asunción de la Virgen y San Íñigo</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1767)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/San-Crist%C3%B3bal.jpg">San Cristóbal</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1769)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Aparici%C3%B3n-de-la-Virgen-del-Pilar-a-Santiago-y-a-sus-disc%C3%ADpulos-zaragozanos.jpg">Aparición de la Virgen del Pilar a Santiago y a sus discípulos zaragozanos</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1769)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Triple-generaci%C3%B3n.jpg">Triple generación</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1770)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/An%C3%ADbal-vencedor-que-por-primera-vez-mira-Italia-desde-los-Alpes.jpg">Aníbal vencedor que por primera vez mira Italia desde los Alpes</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1771)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Sacrificio-a-Vesta.jpg">Sacrificio a Vesta</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1771)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Sacrificio-a-Pan.jpg">Sacrificio a Pan</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1771)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Venus-y-Adonis.jpg">Venus y Adonis</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1771)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/%C3%89xtasis-de-San-Antonio-Abad.jpg">Éxtasis de San Antonio Abad</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1771 - 1774)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Muerte-de-san-Francisco-Javier.jpg">Muerte de san Francisco Javier</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1771 - 1774)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Virgen-del-Pilar.jpg">Virgen del Pilar</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1772)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/El-rapto-de-Europa.jpg">El rapto de Europa</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1772)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/El-nombre-de-Dios-adorado-por-los-angeles.jpg">El nombre de Dios adorado por los angeles</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1772)" href="https://github.com/Auguuusto/Galeria/blob/main/Francisco-de-Goya/1763-1774/Santa-B%C3%A1rbara.jpg">Santa Bárbara</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1772)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Sue%C3%B1o-de-San-Jos%C3%A9.jpg">Sueño de San José</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1772)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/El-entierro-de-Cristo.jpg">El Entierro de Cristo</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1772 - 1773)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Virgen-con-el-Ni%C3%B1o.jpg">Virgen con el Niño</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1772 - 1773)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Virgen-con-el-Ni%C3%B1o-y-San-Jos%C3%A9.jpg">Virgen con el Niño y San José</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1772 - 1773)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Devotos-a-los-pies-de-la-Cruz.jpg">Devotos a los pies de la Cruz</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1772 - 1775)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Muerte-de-san-Alberto-de-Jerusal%C3%A9n.jpg">Muerte de san Alberto de Jerusalén</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1772 - 1775)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Huida-a-Egipto.jpg">Huida a Egipto</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1773)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Autorretrato.jpg">Autorretrato</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1773 - 1775)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Retrato%2C-supuesto-para-ser-el-artista.jpg">Retrato, supuesto para ser el artista</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1774)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Nacimiento-de-la-Virgen-(Cartuja-Aula-Dei).jpg">Nacimiento de la Virgen (Cartuja Aula Dei)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1774)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/La-Piedad.jpg">La Piedad</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1774)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Lot-y-sus-hijas.jpg">Lot y sus hijas</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="(1774)" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco-de-Goya/1763-1774/Sacrificio-de-la-hija-de-Jeft%C3%A9.jpg">Sacrificio de la hija de Jefté</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1775 - 1792)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="#">.</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1793 - 1807)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="#">.</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1808 - 1818)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="#">.</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1819 - 1828)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" title="" href="#">.</a>
    </li>
   </ul>
  </ul>
 </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>