<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Yuko Tatsushima</title>
 <link rel="stylesheet" href="./../../../StyleSheets/style.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <style>
  @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
  body {
   background-color: black;
   color: white;
   text-align: center;
   font-family: 'Cutive Mono', monospace;
   font-size: 24px;
  }
  header {
   background-color: black;
  }
  ul {
   list-style-type: none;
   padding: 0;
  }
  a {
   text-decoration: none;
  }
  @media screen and (max-width: 415px) {
   body {
    font-size: 12px;
   }
  }
 </style>
</head>
<body>
 <header>
  <div class="container">
   <h3 class="mt-5 mb-5">Yuko Tatsushima</h3>
  </div>
 </header>
 <main>
  <div class="container">
   <p class="mb-5 fst-italic text-secondary">„Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ducimus modi molestias aspernatur debitis eveniet eaque placeat aperiam totam laborum necessitatibus fuga. Omnis labore accusantium consequatur, quibusdam blanditiis earum cupiditate?“</p>
   <h3 class="mt-5 mb-5">絵画</h3>
   <ul>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">母と私の肖像 (1996)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">文月 (1997)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">長月 (1997)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">モノクロ観音 (1997)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">蛇 (1999)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">女衒 (1999)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">あたしはもう お嫁にはいけません (1999)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">白い糸 (1999)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">終ワレの花 (1999)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">爆心地のマリア (2000)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">穴 (2000)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">lovi`n you (2000)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">斬首 (2000)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">泡花 (2001)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">アナタの弾丸 (2001)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">羽根仕掛けの踊り娘 (2001)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">血楼 (2001)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">脳漿 (2001)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">神曲 (2002)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">白牢 (2002)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">六弦ストレリチア (2002)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">血の輪廻 (2002)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">箱詰めの少女 (2003)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">春の夜の虫の夢 (2003)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">アタシ</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">悪の華</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">柘榴観音</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">罪と罰</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">美里自決</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">京曼陀羅</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">何だ</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">郁枝出棺</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">VELVET</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">8秒の原罪</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">赤い笑い</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">人形</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">ツユミ</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">阿木南アキナ</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">蓮奈 (2001)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">木代羅キヨラ</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">写真</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">ショウさん</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">御手洗花女</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">ギ装置R</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">ヒフミ</a>
    </li>
   </ul>
  </div>
 </main>
</body>