<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Francisco de Goya</title>
 <link rel="stylesheet" href="./../../StyleSheets/style.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <style>
  @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
  body {
   background-color: black;
   color: white;
   text-align: center;
   font-family: 'Cutive Mono', monospace;
   font-size: 24px;
  }
  header {
   background-color: black;
  }
  ul {
   list-style-type: none;
   padding: 0;
  }
  a {
   text-decoration: none;
  }
 </style>
</head>
<body>
 <header class="">
  <div class="container">
   <h3 class="mt-5 mb-5">Francisco de Goya</h3>
  </div>
 </header>
 <main>
  <div class="container">
   <p class="mb-5 fst-italic text-secondary">„Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ducimus modi molestias aspernatur debitis eveniet eaque placeat aperiam totam laborum necessitatibus fuga. Omnis labore accusantium consequatur, quibusdam blanditiis earum cupiditate?“</p>
   <h3 class="mt-5 mb-5">(1763 - 1774)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Consagraci%C3%B3n_de_San_Luis_Gonzaga_como_patrono_de_la_juventud.jpg?token=GHSAT0AAAAAACZ3JOISF4R3DUHJL6YK5INCZZWZ5JQ">Consagración de San Luis Gonzaga (1763)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Asunci%C3%B3n_de_la_Virgen_y_San_%C3%8D%C3%B1igo.jpg?token=GHSAT0AAAAAACZ3JOITLDXPDFPWGG2RLDGOZZWZYVA">Asunción de la Virgen y San Íñigo (1763)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/San_Crist%C3%B3bal.jpg?token=GHSAT0AAAAAACZ3JOITKO54J5ZECZQS6B7EZZWZ2BQ">San Cristóbal (176)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Aparici%C3%B3n_de_la_Virgen_del_Pilar_a_Santiago_y_a_sus_disc%C3%ADpulos_zaragozanos.jpg?token=GHSAT0AAAAAACZ3JOISB4WQZRMOIK7SVLKKZZWZ27Q">Aparición de la Virgen del Pilar a Santiago y a sus discípulos zaragozanos (1769)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Francisco%20de%20Goya/(1763%20-%201774)/Triple_generacion.jpg?token=GHSAT0AAAAAACZ3JOITYIG3C4BCES6S63KQZZWZ4CA">Triple generación (1769)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1775 - 1792)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1793 - 1807)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1808 - 1818)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">(1819 - 1828)</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los Caprichos</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los desastres de la guerra</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">La Tauromaquia</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los disparates </h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">Los toros de Burdeos</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="https://upload.wikimedia.org/wikipedia/commons/b/b2/Francisco_de_Goya_-_Vuelo_de_brujas_(1798).jpg">Vuelo de Brujas (1797 - 1798)</a>
    </li>
   </ul>
   </ul>
  </div>
 </main>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>