<!DOCTYPE html>
<html lang="pt-BR">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Yuko Tatsushima</title>
 <link rel="stylesheet" href="./../../StyleSheets/style.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <style>
  @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
  body {
   background-color: black;
   color: white;
   text-align: center;
   font-family: 'Cutive Mono', monospace;
   font-size: 24px;
  }
  header {
   background-color: black;
  }
  ul {
   list-style-type: none;
   padding: 0;
  }
  a {
   text-decoration: none;
  }
  @media screen and (max-width: 415px) {
   body {
    font-size: 12px;
   }
  }
 </style>
</head>
<body>
 <header>
  <div class="container">
   <h3 class="mt-5 mb-5">Yuko Tatsushima</h3>
  </div>
 </header>
 <main>
  <div class="container">
   <p class="mb-5 fst-italic text-secondary">„Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ducimus modi molestias aspernatur debitis eveniet eaque placeat aperiam totam laborum necessitatibus fuga. Omnis labore accusantium consequatur, quibusdam blanditiis earum cupiditate?“</p>
   <h3 class="mt-5 mb-5">絵画</h3>
   <ul>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Yuko%20Tatsushima/Paintings/%E6%AF%8D%E3%81%A8%E7%A7%81%E3%81%AE%E8%82%96%E5%83%8F.jpg">母と私の肖像 (1996)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Yuko%20Tatsushima/Paintings/%E6%96%87%E6%9C%88.jpg">文月 (1997)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Yuko%20Tatsushima/Paintings/%E9%95%B7%E6%9C%88.jpg">長月 (1997)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Yuko%20Tatsushima/Paintings/%E3%83%A2%E3%83%8E%E3%82%AF%E3%83%AD%E8%A6%B3%E9%9F%B3.jpg">モノクロ観音 (1997)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Yuko%20Tatsushima/Paintings/%E8%9B%87.jpg">蛇 (1999)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Yuko%20Tatsushima/Paintings/%E5%A5%B3%E8%A1%92.jpg">女衒 (1999)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Yuko%20Tatsushima/Paintings/%E3%81%82%E3%81%9F%E3%81%97%E3%81%AF%E3%82%82%E3%81%86%20%E3%81%8A%E5%AB%81%E3%81%AB%E3%81%AF%E3%81%84%E3%81%91%E3%81%BE%E3%81%9B%E3%82%93(1).jpg">あたしはもう お嫁にはいけません (1999)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Yuko%20Tatsushima/Paintings/%E7%99%BD%E3%81%84%E7%B3%B8.jpg">白い糸 (1999)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="https://raw.githubusercontent.com/Auguuusto/Galeria/refs/heads/main/Yuko%20Tatsushima/Paintings/%E7%B5%82%E3%83%AF%E3%83%AC%E3%81%AE%E8%8A%B1.jpg">終ワレの花 (1999)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">爆心地のマリア (2000)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">穴 (2000)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">lovi`n you (2000)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">斬首 (2000)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">泡花 (2001)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">アナタの弾丸 (2001)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">羽根仕掛けの踊り娘 (2001)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">血楼 (2001)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">脳漿 (2001)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">神曲 (2002)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">白牢 (2002)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">六弦ストレリチア (2002)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">血の輪廻 (2002)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">箱詰めの少女 (2003)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">春の夜の虫の夢 (2003)</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">アタシ</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">悪の華</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">柘榴観音</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">罪と罰</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">美里自決</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">京曼陀羅</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">何だ</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">郁枝出棺</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">VELVET</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">8秒の原罪</a>
    </li>
    <li class="mb-4 mb-5">
     <a style="color: #808000;" href="#">赤い笑い</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">人形</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">ツユミ</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">阿木南アキナ</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">蓮奈 (2001)</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">木代羅キヨラ</a>
    </li>
   </ul>
   <h3 class="mt-5 mb-5">写真</h3>
   <ul>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">ショウさん</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">御手洗花女</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">ギ装置R</a>
    </li>
    <li class="mb-4 mt-4">
     <a style="color: #808000;" href="#">ヒフミ</a>
    </li>
   </ul>
  </div>
 </main>
</body>